{% extends "base.html" %}
{% block content %}
<!-- Contact Section -->
<section id="contact" class="contact section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>Get in touch</h2>
    </div><!-- End Section Title -->

    <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="info-wrap" data-aos="fade-up" data-aos-delay="200">
            <div class="row gy-5">

                <div class="col-lg-4">
                    <a href="{{ content['contact']['phone-link'] }}">
                        <div class="info-item d-flex align-items-center">
                            <i class="bi bi-telephone flex-shrink-0"></i>
                            <div>
                                <h3>Call Us</h3>
                                <p>{{ content['contact']['phone'] }}</p>
                            </div>
                        </div>
                    </a>
                </div><!-- End Info Item -->

                <div class="col-lg-4">
                    <a href="{{ content['contact']['email-link'] }}">
                        <div class="info-item d-flex align-items-center">
                            <i class="bi bi-envelope flex-shrink-0"></i>
                            <div>
                                <h3>Email Me</h3>
                                <p>{{ content['contact']['email'] }}</p>
                            </div>
                        </div>
                    </a>
                </div><!-- End Info Item -->

                <div class="col-lg-4">
                    <div class="info-item d-flex align-items-center">
                        <a href="{{ content['contact']['linkedin-link'] }}">
                            <i class="bi bi-linkedin flex-shrink-0"></i>
                            <div>
                                <h3>Reach out</h3>
                                <p>{{ content['contact']['linkedin'] }}</p>
                        </a>
                    </div>
                </div>
            </div><!-- End Info Item -->

        </div>
    </div>

    <div class="container" data-aos="fade-up" data-aos-delay="100">

        <!-- Flash Messages -->
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <div class="alert-container">
            {% for category, message in messages %}
            <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
        </div>
        {% endif %}
        {% endwith %}

        <form action="/contact" method="POST" class="php-email-form" data-aos="fade-up" data-aos-delay="300">
            <div class="row gy-4">
                <div class="col-md-6">
                    <input type="text" name="name" class="form-control" placeholder="Your Name" required>
                </div>

                <div class="col-md-6">
                    <input type="email" class="form-control" name="email" placeholder="Your Email" required>
                </div>

                <div class="col-md-12">
                    <input type="text" class="form-control" name="subject" placeholder="Subject" required>
                </div>

                <div class="col-md-12">
                    <textarea class="form-control" name="message" rows="6" placeholder="Message" required></textarea>
                </div>

                <!-- Loading, Success, and Error Messages -->
                <div class="col-md-12 text-center">
                    <div class="loading">Loading...</div>
                    <div class="error-message"></div>
                    <div class="sent-message">Your message has been sent. Thank
                        you!</div>
                </div>

                <div class="col-md-12 text-center">
                    <button type="submit" class="btn btn-primary">Send Message</button>
                </div>
            </div>
        </form>

    </div>

</section><!-- /Contact Section -->
{% endblock %}