{% extends "base.html" %}
{% block content %}

<section id="about" class="about section">

    <div class="container" data-aos="fade-up" data-aos-delay="100">
        <div class="section-title">
            <h2>About Me</h2>
        </div><!-- End Section Title -->
        <div class="row gy-4">
            <div class="col-md-6">

                <div class="row justify-content-between gy-4">
                    <div class="col-lg-5">
                        <img src="{{ content['resume']['About']['img']}}" class="img-fluid" alt="">
                    </div>
                    <div class="col-lg-7 about-info">
                        <p><strong>Name: </strong> {{ content['resume']['About']['name'] }}</p>
                        <p><strong>Profile: </strong> {{ content['resume']['About']['profile'] }}</p>
                        <p><strong>Email: </strong> {{ content['resume']['About']['email'] }}</p>
                        <p><strong>Phone: </strong> {{ content['resume']['About']['phone'] }}</p>
                        <p><strong>Links: </strong><a href="{{ content['resume']['About']['linkedin-link'] }}">LinkedIn</a>, <a href="{{ content['resume']['About']['github-link'] }}">GitHub</a></p>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="about-me">
                    <p>{{ content['index']['introduction'] }}</p>
                </div>
            </div>
        </div>

    </div>

</section><!-- /About Section -->


<section id="resume" class="resume section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>Resume</h2>
    </div><!-- End Section Title -->

    <div class="container">

        <div class="row">

            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">

                <h3>Education</h3>
                {% for edu in content['resume']['Education'] %}
                <div class="resume-item">
                    <h4>{{ edu['degree'] }}</h4>
                    <h5>{{ edu['institution'] }}</h5>
                    <p><em>{{ edu['time_period'] }}</em></p>
                    <ul>
                        {% for detail in edu['details'] %}
                        <li>{{ detail }}</li>
                        {% endfor %}
                    </ul>
                </div>
                {% endfor %}<!-- End Resume Item -->

                <h3>Skills</h3>
                {% for skill_category in content['resume']['Skills'] %}
                <div class="resume-item">
                    <h4>{{ skill_category['category'] }}: </h4>
                    <p>{{ ', '.join(skill_category['list']) }}</p>
                </div>
                {% endfor %}<!-- End Resume Item -->

                <h3>Internships</h3>
                {% for intern in content['resume']['Internships'] %}
                <div class="resume-item">
                    <h4>{{ intern['position'] }}</h4>
                    <h5>{{ intern['company'] }}</h5>
                    <p><em>{{ intern['time_period'] }}</em></p>
                    <ul>
                        {% for detail in intern['details'] %}
                        <li>{{ detail }}</li>
                        {% endfor %}
                    </ul>
                </div>
                {% endfor %}<!-- End Resume Item -->
            </div>

            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
                <h3>Work Experience</h3>
                {% for job in content['resume']['Work Experience'] %}
                <div class="resume-item">
                    <h4>{{ job['position'] }}</h4>
                    <h5>{{ job['company'] }}</h5>
                    <p><em>{{ job['time_period'] }}</em></p>
                    <ul>
                        {% for detail in job['details'] %}
                        <li>{{ detail }}</li>
                        {% endfor %}
                    </ul>
                </div>
                {% endfor %}<!-- End Resume Item -->

            </div>

        </div>

    </div>

</section><!-- /Resume Section -->


<!-- Testimonials Section -->
<section id="testimonials" class="testimonials section">
    <div class="container text-center">
        <div class="section-title" data-aos="fade-up">
            <h2>What Others Say</h2>
        </div><!-- End Section Title -->
        
        <div class="row justify-content-center">
            {% for testimonial in content['resume']['Testimonials'] %}
            <div class="col-md-4">
                <div class="card shadow-sm mb-4">
                    <div class="card-body text-center">
                        <!-- Image Section -->
                        <div class="d-flex justify-content-center mb-3">
                            <img src="{{ testimonial['image'] }}" class="rounded-circle img-fluid" alt="{{ testimonial['name'] }}" style="object-fit: cover; width: 150px; height: 150px;">
                        </div>
                        <!-- Text Section -->
                        <h5 class="card-title"><b>{{ testimonial['name'] }}</b></h5>
                        <p class="font-weight-bold">{{ testimonial['designation'] }} at {{ testimonial['company'] }}</p>
                        <p class="card-text">{{ testimonial['details'] }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div><!-- End row -->
    </div><!-- End container -->
</section><!-- /Testimonials Section -->

{% endblock %}